"*":
  "atom-beautify":
    general:
      _analyticsUserId: "7d241b0d-462a-40db-bc81-42328b970f66"
    json:
      indent_char: " "
      indent_size: 4
      indent_with_tabs: false
      keep_array_indentation: true
    sql: {}
  "autocomplete-paths":
    ignoredPatterns: [
      "target/.*"
      ".git/.*"
    ]
  "autocomplete-python":
    useKite: false
  core:
    allowPendingPaneItems: false
    customFileTypes:
      "source.makefile": [
        "Makefile-Publish"
      ]
    disabledPackages: [
      "language-gfm"
      "whitespace"
      "linter-markdown"
      "plantuml-preview"
      "language-markdown"
      "plantuml"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-light-ui"
      "base16-tomorrow-light-theme"
    ]
    warnOnLargeFileLimit: 10
  editor:
    atomicSoftTabs: false
    scrollSensitivity: 80
    showIndentGuide: true
    showInvisibles: true
    softTabs: false
    tabLength: 4
  "exception-reporting":
    userId: "79bf9927-9a40-f1a2-4a0b-153468b70e77"
  linter: {}
  "linter-flake8":
    ignoreErrorCodes: [
      "E501"
      "E731"
    ]
  "linter-ui-default":
    panelHeight: 144
    showPanel: true
  "markdown-preview":
    useGitHubStyle: true
  "markdown-preview-enhanced":
    openPreviewPaneAutomatically: false
    singlePreview: false
  "markdown-writer":
    fileExtension: ".md"
  "plantuml-preview":
    jarLocation: "/Users/oeid/Binaries/jars/plantuml.2017.11.jar"
  "plantuml-viewer":
    liveUpdate: false
  "spell-check":
    locales: [
      "en-US"
    ]
  "status-bar": {}
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
".md.text":
  editor:
    showInvisibles: false
    softWrap: false
    softWrapAtPreferredLineLength: false
    tabLength: 4
